@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>StarterFly</title>
    <base href="/">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Scripts/NgApp/styles.b86b6f9cec5937d6922f.bundle.css" rel="stylesheet" />
</head>
<body class="mat-typography">
    <lf-root></lf-root>
    <script type="text/javascript" src="~/Scripts/NgApp/inline.95beb6b54d059431b7c3.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/NgApp/polyfills.42d7c6737fa88b694cc8.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/NgApp/vendor.c1feba310af6e0195bec.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/NgApp/main.2eaaf8d43ad3ed2336af.bundle.js"></script>
</body>
</html>